<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remind Me</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    
</head>
<body>
    <h2>Reminders</h2>

    <div class="container">
        <input id="input01">
        <button id="submit">Submit</button>
    </div>

    <p style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" id="response"></p>

    <div class="reminders">

    </div>
    <script src="/static/index.js"></script>
</body>
</html>